<header id="header">
    <div class="logo">
        <span class="icon fa-gem"></span>
    </div>
    <div class="content">
        <div class="inner">
            <div data-controller="clientes">
                
            </div>
        </div>
    </div>
</header>