<!-- Wrapper -->
    <div id="wrapper">

    <!-- Header -->
        <header id="header">
            <div class="logo">
                <span class="icon fa-gem"></span>
            </div>
            <div class="content">
                <div class="inner">
                    <h1>Desafio 21 dias avançado</h1>
                    <p>Um site responsivo criado por <a href="https://www.linkedin.com/in/deivid-arauj0/" target="_blank">Deivid A</a><br />LinkedIn.</p>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="#intro">Cadastre-se</a></li>
                    <li><a href="#contact">Contate-me</a></li>
                    <li><a href="#elements">Stimulus</a></li>
                    <!--<li><a href="#elements">Elements</a></li>-->
                </ul>
            </nav>
        </header>

    <!-- Main -->
        <div id="main">

            <!-- Intro -->
                <article id="intro">
                    <h2 class="major">Cadastro de clientes</h2>
                    <span class="image main"><img src="images/cadastro_de_clientes.png" alt="" /></span>
                    <p>Este é um cadastro de clientes que geramos via scaffold. <a href="/clientes">Clique para acessar</a>.</p>
                    <p>"Agradeça quando um cliente insatifeito chegar para reclamar. Se ele fez isso é porque acredita em sua empresa e sabe que você pode fazer melhor." <br />- Fernando Rosa</p>
                </article>

            <!-- Elements -->
                <article id="elements">
                    <h2 class="major">Stimulus</h2>

                    <section>
                        <h3 class="major">Text</h3>
                        <a href="/stimulus">Clique aqui para acessar</a>
                        <hr />
                    </section>
                </article>
        </div>

    </div>

<!-- BG -->